#container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 1px #AAA;
  margin: 60px auto;
  min-height: 320px;
  width: 960px;
}

#container #extras {
  text-align: center;
  clear: both;
  padding: 1em;
}

.box {
  background-color: #AAA;
  opacity: 0.8;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  float: left;
  margin: 10px;
  height: 300px;
  width: 300px;
}

.box:hover {
  opacity: 1;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

button {
  font-size: large;
  padding: 1em;
}
